.container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.container button{
    width: 100px;
    height: 50px;
    margin: 30px 0;
    background-color: beige;
    border-radius: 10px;
    cursor: pointer;
    border:none;
    color: rgb(81, 73, 99);
    padding: 10px;
    font-size: 20px;
    font-weight:900;
    font-style: italic;
    box-shadow: 5px 5px 10px rgba(147, 134, 134, 0.673);
    transition: all 0.9s;
}

.container button:hover{
    width: 110px;
    height: 60px;
    background-color: aqua;
}

.container div{
    width: 800px;
    height: 200px;
    margin-top: 20px;
    background-color: rgb(110, 137, 137);
    border:solid 2px black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px  #867373;
}
.container div p{
    font-size:40px;
    font-weight:900;
    font-style: italic ;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    color: aliceblue;

}
